[Desktop Entry]
Type=Application
Name=Nix Settings Sound
Comment=PipeWire sound center for NixOS
Exec=nix-settings sound
Icon=com.madebycli.NixSettings
Terminal=false
Categories=Settings;AudioVideo;Audio;
StartupNotify=false
